

.sorting-options,
.filter-options{
  .fa-sort-amount-desc{
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .fa{
    margin-left:5px;
    padding:5px;

  }
  .fa.active{
    background: rgba(212,228,239,0.9);
    background: -moz-linear-gradient(-45deg, rgba(212,228,239,0.9) 0%, rgba(203,224,234,0.9) 10%, rgba(132,188,191,0.8) 90%, rgba(123,183,186,0.8) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(212,228,239,0.9)), color-stop(10%, rgba(203,224,234,0.9)), color-stop(90%, rgba(132,188,191,0.8)), color-stop(100%, rgba(123,183,186,0.8)));
    background: -webkit-linear-gradient(-45deg, rgba(212,228,239,0.9) 0%, rgba(203,224,234,0.9) 10%, rgba(132,188,191,0.8) 90%, rgba(123,183,186,0.8) 100%);
    background: -o-linear-gradient(-45deg, rgba(212,228,239,0.9) 0%, rgba(203,224,234,0.9) 10%, rgba(132,188,191,0.8) 90%, rgba(123,183,186,0.8) 100%);
    background: -ms-linear-gradient(-45deg, rgba(212,228,239,0.9) 0%, rgba(203,224,234,0.9) 10%, rgba(132,188,191,0.8) 90%, rgba(123,183,186,0.8) 100%);
    background: linear-gradient(135deg, rgba(212,228,239,0.9) 0%, rgba(203,224,234,0.9) 10%, rgba(132,188,191,0.8) 90%, rgba(123,183,186,0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#7bb7ba', GradientType=1 );
  }
  .btn-default{
    cursor:pointer;
    border:1px solid #d7d7d7;
  }  
  h3{
    text-align:center;
  }
  div{
    display:inline-block;
  }
}

.pagination{
  display:block;
  .btn-default{
    cursor:pointer;
    /*display:inline-block;*/
    /*width:125px;*/
    float:left;
    border:1px solid #d7d7d7;
  }
  .btn-default:hover{
    border:1px solid rgba(132,188,191,0.4);
    background: rgba(212,228,239,0.9);
    background: -moz-linear-gradient(-45deg, rgba(212,228,239,0.9) 0%, rgba(203,224,234,0.9) 10%, rgba(132,188,191,0.8) 90%, rgba(123,183,186,0.8) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(212,228,239,0.9)), color-stop(10%, rgba(203,224,234,0.9)), color-stop(90%, rgba(132,188,191,0.8)), color-stop(100%, rgba(123,183,186,0.8)));
    background: -webkit-linear-gradient(-45deg, rgba(212,228,239,0.9) 0%, rgba(203,224,234,0.9) 10%, rgba(132,188,191,0.8) 90%, rgba(123,183,186,0.8) 100%);
    background: -o-linear-gradient(-45deg, rgba(212,228,239,0.9) 0%, rgba(203,224,234,0.9) 10%, rgba(132,188,191,0.8) 90%, rgba(123,183,186,0.8) 100%);
    background: -ms-linear-gradient(-45deg, rgba(212,228,239,0.9) 0%, rgba(203,224,234,0.9) 10%, rgba(132,188,191,0.8) 90%, rgba(123,183,186,0.8) 100%);
    background: linear-gradient(135deg, rgba(212,228,239,0.9) 0%, rgba(203,224,234,0.9) 10%, rgba(132,188,191,0.8) 90%, rgba(123,183,186,0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#7bb7ba', GradientType=1 );    
  }
  .btn-default.inactive{
    border:1px solid #d7d7d7;
    background:#ebebeb;

  }
  .next{
    float:right;
    text-align:right;
  }
  .inactive{
    cursor:not-allowed;
    color:#d7d7d7;
    background:#ebebeb;
  }
  #num-pages{
    line-height: 3.4;
    text-align: center;
  }
}


.results {  
  .establishment{
    height:330px;
    padding:5px;

    .inner{
      border:1px solid #d7d7d7;
      height:100%;
      width:100%;

      h1{
        font-size:18px;
        text-align:center;

      }
      img{
        position:absolute;
        top:95px;
        left:50%;
        transform: translate3d(-50%, 0, 0);
      }
      .text-container{
        position:absolute;
        bottom:5px;
        p{
          margin:5px 10px;
        }
      }
      

    }
  }
  .col-xs-6.establishment{
    height:350px;
  }
}

