<div class="filter-options row">
  <h3 class=" col-xs-12 col-sm-12 col-md-12 col-lg-12">Filter Options</h3>
  <div class=" col-xs-12 col-sm-3 col-md-2 col-lg-2 col-lg-offset-2  col-md-offset-2">
    Name:<br/>
    <select ng-model="nameFilter" ng-change="filterChange('Name')">
      <option class="dropdown-item" ng-repeat="x in alphabet" value="{{x.value}}">{{x.rating}}</option>
    </select>
  </div>
  <div class=" col-xs-12 col-sm-3 col-md-2 col-lg-2">
    Stars: <br/>
    <select ng-model="starsFilter" ng-change="filterChange('Stars')">
      <option class="dropdown-item" ng-repeat="x in stars" value="{{x.value}}">{{x.rating}}</option>
    </select>
  </div>
  <div class=" col-xs-12 col-sm-3 col-md-2 col-lg-2">User Rating: <br/>
    <select ng-model="userRatingFilter" ng-change="filterChange('UserRating')">
      <option class="dropdown-item" ng-repeat="x in userRatings" value="{{x.value}}">{{x.rating}}</option>
    </select>
  </div>
  <div class=" col-xs-12 col-sm-3 col-md-2 col-lg-2">Minimum Cost: <br/>
    <select ng-model="minCostFilter" ng-change="filterChange('MinCost')">
      <option class="dropdown-item" ng-repeat="x in minCost" value="{{x.value}}">{{x.rating}}</option>
    </select>
  </div>
</div>

<div class="sorting-options row">
  <h3 class=" col-xs-12 col-sm-12 col-md-12 col-lg-12">Sorting Options</h3>
  <div class=" col-xs-12 col-sm-3 col-md-2 col-lg-2 col-lg-offset-2  col-md-offset-2">Stars:<br/> 
    <div class="fa fa-sort-amount-asc btn-default btn-sm" ng-class="{'active':sortMethod === 'Stars' && sortOption === 'desc'}" ng-click="sortData('Stars', 'desc')"></div>
    <div class="fa fa-sort-amount-desc btn-default btn-sm" ng-class="{'active':sortMethod === 'Stars' && sortOption === 'asc'}" ng-click="sortData('Stars', 'asc')"></div>
  </div>
  <div class=" col-xs-12 col-sm-3 col-md-2 col-lg-2">Distance:<br/>
    <div class="fa fa-sort-amount-asc btn-default btn-sm" ng-class="{'active':sortMethod === 'Distance' && sortOption === 'desc'}" ng-click="sortData('Distance', 'desc')"></div>
    <div class="fa fa-sort-amount-desc btn-default btn-sm" ng-class="{'active':sortMethod === 'Distance' && sortOption === 'asc'}" ng-click="sortData('Distance', 'asc')"></div>
  </div>

  <div class=" col-xs-12 col-sm-3 col-md-2 col-lg-2">
    Minimum Cost: <br/>
    <div class="fa fa-sort-amount-asc btn-default btn-sm" ng-class="{'active':sortMethod === 'MinCost' && sortOption === 'desc'}" ng-click="sortData('MinCost', 'desc')"></div>
    <div class="fa fa-sort-amount-desc btn-default btn-sm" ng-class="{'active':sortMethod === 'MinCost' && sortOption === 'asc'}" ng-click="sortData('MinCost', 'asc')"></div>
  </div>
  <div class=" col-xs-12 col-sm-3 col-md-2 col-lg-2">
    User Rating: <br/>
    <div class="fa fa-sort-amount-asc btn-default btn-sm" ng-class="{'active':sortMethod === 'UserRating' && sortOption === 'desc'}" ng-click="sortData('UserRating', 'desc')"></div>
    <div class="fa fa-sort-amount-desc btn-default btn-sm" ng-class="{'active':sortMethod === 'UserRating' && sortOption === 'asc'}" ng-click="sortData('UserRating', 'asc')"></div>
  </div>
</div>

<div class="pagination"> 
  <div class="previous btn-default btn-lg" ng-class="previousInactive" ng-click="getPrevious100()"><span class="fa fa-chevron-left" aria-hidden="true"></span>  Previous</div>
  <div class="next btn-default btn-lg" ng-class="nextInactive" ng-click="getNext100()">Next <span class="fa fa-chevron-right" aria-hidden="true"></span></div>
  <div id="num-pages"> Page {{pageNo}} of {{noOfPages}}</div>
  <div class="clearfix"></div>
</div>

<div class="results row" >
    <div ng-repeat="est in establishments">
        <div class="establishment col-xs-6 col-sm-4 col-md-3 col-lg-3">
           <div class="inner">
              <h1>{{est.Name}}</h1>
              <img ng-src="{{est.ThumbnailUrl}}"/>
              <div class="text-container">
                <p>Type: {{est.EstablishmentType}}</p>
                <p>Location: {{est.Location}}</p>
                <p>Distance: {{est.Distance}}</p>
                <p>Minimum Cost: {{est.MinCost}}</p>
                <p>Stars: {{est.Stars}}</p>
                <p>User Rating: {{est.UserRating}}</p>
              </div>
            </div>
           
        </div>
        <div class="clearfix visible-lg" ng-if="($index + 1) % 4 == 0"></div>
        <div class="clearfix visible-md" ng-if="($index + 1) % 4 == 0"></div>
        <div class="clearfix visible-sm" ng-if="($index + 1) % 3 == 0"></div>
        <div class="clearfix visible-xs" ng-if="($index + 1) % 2 == 0"></div>
    </div>
</div>

<div class="pagination"> 
  <div class="previous btn-default btn-lg" ng-class="previousInactive" ng-click="getPrevious100()"><span class="fa fa-chevron-left" aria-hidden="true"></span>  Previous</div>
  <div class="next btn-default btn-lg" ng-class="nextInactive" ng-click="getNext100()">Next <span class="fa fa-chevron-right" aria-hidden="true"></span></div>
  <div id="num-pages"> Page {{pageNo}} of {{noOfPages}}</div>
  <div class="clearfix"></div>
</div>